<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.phlox.tvwebbrowser">

    <application
        android:name=".TVBro"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/fireos_launcher_icon"
        tools:replace="android:icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:screenOrientation="sensor"
        android:theme="@style/AppTheme"
        tools:targetApi="m" >


        <activity
            android:name=".activity.main.MainActivity" />
    </application>

</manifest>